body {
    
/*    font-family: 'News Cycle', sans-serif;*/
    
}



.header-logo {
    
/*    font-family: 'News Cycle', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: #3f3f3f;
    font-weight: 700;
    letter-spacing: 4px;
}

header .header-logo {
    
    padding: 20px 0px 10px;
    font-size: 45px;
    
}

header .header-logo a {
    
    text-decoration: none;
    color: inherit;
    
}

#nav {
    
    z-index: 15;
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid #f7f7f7;
}

nav .header-logo {
    
    padding: 5px 15px;
    font-size: 24px;
    display: inline-block;
    
}

nav .header-logo p {
    
    text-decoration: none;
    color: #3f3f3f;
    padding: 0;
    margin: 0;
    
}
nav .navbar-nav li{
    
/*    padding: 3px 20px 5px 5px;*/
/*    padding: 3px 12.5px 5px 12.5px;*/
    padding-top: 0.18em;
    padding-bottom: 0.18em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    
    position: relative;
    float: none;
    display: inline-block;
    
    
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #b9b9b9;
    text-transform: lowercase;
    
}

nav .navbar-nav li a {
    
    text-decoration: none;
    color: inherit;
    
}

nav .navbar-nav li.active {
    
/*    color: #1da6f4;*/
    color: #3f3f3f;
    
}

nav .navbar-nav li a:hover {
    
/*    color: #1da6f4;*/
    color: #3f3f3f;
    transition: all 350ms linear;
    
}

footer {
    
    width: 100%;
    border-top: 2px solid #f7f7f7;
}

footer p {
    
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
    
}

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

.centerDivHorizontal {
    width: 90%;
    margin: 0 auto;
}

.sticky-header {
    
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f7f7f7;
    
}

.delete-border {
    
    border: none;
    
}

.copyright {
    
    font-family: 'Open Sans', sans-serif;
    color: #626262;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0 0 0;
    
}












.sicon {
    
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 14;
    
}

.icon-circle .fa{
    font-size           : 25px;
    color               : #e84700;
    margin              : 10px auto;
    height              : 80px;
    width               : 80px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 80px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 40px;
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 5px auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}   
}

.ifacebook .fa{
    color               :#3B5998;
    border              :2px solid #3B5998;
}

.ifacebook .fa:hover{
    
    background-color        : #3B5998;    
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #33ccff;
    border              :2px solid #33ccff;
}

.itwittter .fa:hover{
    
    background-color        : #33ccff;    
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.igoogle .fa{
    color               : #BD3518;
    border              :2px solid #BD3518;
}

.igoogle .fa:hover{
    
    background-color        : #BD3518;    
    color                   : #fff;
    border                  : 1px solid #BD3518;

}

.iLinkedin .fa{
    color               : #007bb7;
    border              :2px solid #007bb7;
}

.iLinkedin .fa:hover{
    
    background-color        :#007bb7;    
    color                   : #fff;
    border                  : 1px solid #007bb7;

}













/*
.inline {
    display: inline;
}
*/


.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

/*    height: 0;*/
/*    padding-bottom: 100%;*/
    position: relative;
/*
    width: 128px;
    height: 128px;
*/
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
/*    height: auto;*/
/*    max-width: 200%;*/
}

.myCircleImage {
    background-image: url(https://storage.googleapis.com/kaggle-avatars/images/1366772-gp.jpg);
    width: 160px;
    height: 160px;
    margin: 0px 30px 0px 0px;
    
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

}

.myCircleImage:hover{
    background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
}

.imgPusher {
    display: block;
    overflow: hidden;
}

.pageMargins {
    padding: 0% 7% 0% 7%;
}

.oneLine {
    overflow: hidden;
    white-space: nowrap;
}

.inlineBlock {
    display: inline-block;
}
.verticalAlignMiddle {
    vertical-align: middle;
}
.textAlignLeft {
    text-align: left;
}

.myBanner {
    
/*    background-color: #74e8d3;*/
/*    background-color: #EDEDEE;*/
/*    background-color: #ff8581 ;*/
    width: 100%;
/*    height: auto;*/
/*    height: 600px;*/
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    min-height 160px;
    
}

.myBanner:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*
.inner {
    display: inline-block;
    vertical-align: middle;
}
*/

.animatedFadeIn {
/*    background-image: url(/css/images/logo.png);*/
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }

.text {
/*    font-family: 'Source Sans Pro';*/
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #212529;
    
}

.textInverted {
    
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #eeeeee;
    
}

.horizontalLine {
    width: 65%;
    margin: 9vh auto;
    border-top: 2px solid #f7f7f7;
    border-top-color: rgb(221, 221, 221);
}

.sectionHeader {
    display: block;
/*    font-family: 'News Cycle', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: #3f3f3f;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.pink {
    background-color: #E44332;
}


















@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

$primary-color: #cfd6e1;
$bg-color:#dce1e5;
$title-color: #9ac7fa;
$background-image: url(http://digitalspyuk.cdnds.net/15/47/1600x800/landscape-1447754794-harrison-ford-blade-runner.jpg);
$background-image2: url("http://www.blastr.com/sites/blastr/files/back-to-the-future-part-ii-original.jpg");
$background-image3: url("http://www.dvdactive.com/images/reviews/screenshot/2011/5/akirabdcap8_original.jpg");
/*
$font-stack-content: 'Montserrat', helvetica, arial, sans-serif;
$font-stack-header: 'Montserrat', helvetica, arial, sans-serif;
*/
$font-stack-content: 'Raleway', sans-serif;
$font-stack-header: 'Raleway', sans-serif;
$secondary-color: #2a9fff;

/*
html {
	box-sizing:border-box;
}
*/

/*
*,*::before, *::after {
	box-sizing:inherit;
}
*/

/*
html,body {
	width:100%;
	height:100%;
}
*/

/*
body {
	background-color: $bg-color;
	font-family: $font-stack-content;
	font-size: 14px;
	color:$primary-color;
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
}
*/

/*
* {
	transition: .4s;
}
*/

/*
a {
	text-decoration: none;
}
*/












/*
.movie-card-list {
    box-sizing:border-box;
}
*/

.roundedCorners {
    border-radius: 8px;
}

.movie-card {
/*	background-image: $background-image;*/
	background-size: contain;
	background-repeat: no-repeat;
	width:75%;
	max-width: 800px;
/*	height: 300px;*/
    height: 100%;
	display: block;
	margin: 48px auto;
	border-radius: 8px;
/*	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);*/
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.1);
/*    */
/*    box-sizing:border-box;1
    box-sizing:inherit;
    width:100%;
	height:100%;
    background-color: $bg-color;
/*    background-color: rgba(255, 0, 0, 0); */
	font-family: $font-stack-content;
	font-size: 14px;
	color:$primary-color;
	line-height: 1.5;
	font-weight: 400;
	overflow-x: hidden;
    transition: .4s;
    
    min-width: 300px;
    min-height: 200px;
    

/*    height: auto;*/
/*    height: 600px;*/
    
}

.movie-card:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.movie-card a {
    text-decoration: none;
    color: inherit;
}

.moviePicture {
    width: 55%;
    float: left;
/*    margin-left: 50px;*/
    margin: auto;
    text-align: center;
    min-height: 200px;
    
    
    
    /*trying to center*/
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.moviePicture img {
    
    display: block;
    margin: auto;
    vertical-align: middle;
    
}

.movie-header {
    margin-bottom: 0.5em;
    margin-top: 0.5em
}

.movie-title {
/*    margin-top: 1em;*/
}

.movie-info {
    letter-spacing: 2px;
/*    font-size: 8em;*/
    line-height: 1;
/*    margin: 0;*/
    font-weight: 700;
    
    font-family: 'Raleway', sans-serif;
/*    margin-bottom: 0.5em;*/
}

.movie-desc {
    font-family: 'Raleway', sans-serif;
/*    font-weight: 300;*/
/*    margin-bottom: 2em;*/
    
/*    font-size: 16px;*/
    color: #212529;
    margin-top: 1em;
}


/* THUMBNAILS */

/* default thumbnail */
.thumbnail {
    
    background-image: url(https://picsum.photos/300/200/?random);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
    
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
    
    
    /*hmm trying to vertically center*/
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.movie-card:hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}

/* custom thumbnails */

#movie-card-list .movie-card:nth-child(1) .thumbnail {
    background-image: url(https://picsum.photos/320/200);
/*    background-image: url(https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg);*/
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(1):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}



#movie-card-list .movie-card:nth-child(2) .thumbnail {
/*    background-image: url(https://picsum.photos/320/200);*/
    background-image: url(https://github.com/BrianSantoso/SketchGAN/raw/master/samples/363000_6.PNG);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(2):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}


#movie-card-list .movie-card:nth-child(3) .thumbnail {
    background-image: url(https://picsum.photos/310/200);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(3):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}


#movie-card-list .movie-card:nth-child(4) .thumbnail {
    background-image: url(https://picsum.photos/300/300/?random);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(4):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}


#movie-card-list .movie-card:nth-child(5) .thumbnail {
    background-image: url(https://picsum.photos/300/200);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(5):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}


#movie-card-list .movie-card:nth-child(6) .thumbnail {
    background-image: url(https://picsum.photos/300/200/?random);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(6):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}


#movie-card-list .movie-card:nth-child(7) .thumbnail {
    background-image: url(https://raw.githubusercontent.com/BrianSantoso/images/master/cube/rk.PNG);
    background-size: 300px 200px;
    width: 300px;
    height: 200px;
}

#movie-card-list .movie-card:nth-child(7):hover .thumbnail{
    background-image: url(http://i.stack.imgur.com/SBv4T.gif);
    width: 300px;
    height: 200px;
}












/*
.movie-card:nth-child(2) {
	background-image: $background-image2;
}

.movie-card:nth-child(3) {
	background-image: $background-image3;
}
*/

/*
.color-overlay {
	width:100%;
	height: 100%;
	border-radius: 8px;
	background: linear-gradient(to right, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	background-blend-mode: multiply;
    
}
*/

.movie-card h1,h2,h3 {
	font-family: 'Raleway', sans-serif;
/*	font-family: $font-stack-header;*/
/*	text-transform: uppercase;*/
/*	letter-spacing: 1px;*/
	letter-spacing: 1px;
	line-height: 1;
/*	font-weigh: 400;*/
	font-weight: 550;
    
    
}

.movie-card:hover {
/*
    transform: scale(1.03);
    transition-duration: 0.35s;
*/
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
}

.moviePadding{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
} 

.movie-content {
	width: 45%;
	display: block;
	position:relative;
	float: right;
	padding-right: 1em;
	
	& .movie-title {
		color: #ffffff;
		margin-bottom: .25em;
		opacity: .75;
	}
	
	& .movie-info {
/*		text-transform: uppercase;*/
		letter-spacing: 2px;
		font-size: .8em;
		color: $secondary-color;
		line-height: 1;
		margin: 0;
		font-weight: 700;
		opacity:.5;
	}
	
	& .movie-header {
		margin-bottom: 2em;
	}
	& .movie-desc {
		font-weight: 300;
        opacity: .84;
        margin-bottom: 2em;
	}
}

/*
.btn {
	padding: .8em 2em;
	background-color: rgba(255,255,255,.2);
	color: rgba(255,255,255,1);
}

.btn-outline {
	background-color: transparent;
	border: 3px solid #ffffff;
}

.btn::before {
	font-family: 'Material Icons';
	content:'\e037';
	vertical-align: middle;
	font-size: 1.5em;
	padding-right:.5em;
}

.btn-outline:hover {
	border-color: $secondary-color;
	color: $secondary-color;
	box-shadow: 0px 1px 8px 0px rgba(245,199,0,.2);
}
*/

.movie-share {
	padding: 1em;
	display: inline-block;
	width: 15%;
}

.movie-share__icon i {
	font-size: 1.2em;
	margin-left: .5em;
	color: #ffffff;
	mix-blend-mode: lighten;
	opacity: .4;
}

.movie-share__icon i:hover {
	opacity:1;
	mix-blend-mode: lighten;
}
/*
@media (max-width:1000px) {
	.movie-content {
		width: 50%;
		max-width: 95%;
	}
    
    
    
    
    .movie-card,.movie-card:nth-child(2),.movie-card:nth-child(3) {
		background-position:50% 0%;
		background-size: cover;
		height: 400px;
	}
}




@media (max-width:800px) {
	.movie-card {
		width: 95%;
		max-width: 95%;
	}
}

@media (max-width:600px) {
	
	.color-overlay {
		background: linear-gradient(to bottom, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	}
	
	.movie-content {
		margin-top: 4.2em;
		width: 90%
	}
	
	.movie-share {
		display: block;
		width: 100%;
	}
}

*/

@media (max-width:1000px) {
	.movie-content {
		width: 50%;
		max-width: 95%;
	}
    
    .moviePicture {
        width: 50%;
    }
    
    
/*
    .movie-card,.movie-card:nth-child(2),.movie-card:nth-child(3) {
		background-position:50% 0%;
		background-size: cover;
		height: 400px;
	}
*/
}



/*Third state*/
@media (max-width:900px) {
	.movie-card {
		width: 95%;
		max-width: 95%;
	}
    
    .movie-content {
        width: 50%;
    }
    .moviePicture {
        width: 50%;
    }
}

@media (max-width:760px) {
	.movie-card {
		width: 85%;
		max-width: 85%;
        
        text-align: center;
	}
    
    .moviePicture {
        float: none;
        width: 100%;
    }
    
    .moviePicture {
    
        display: block;
        margin: 0 auto;
        vertical-align: middle;

    }
    
    /*not needed anymore but kept for reference*/
    .moviePicture img {
    
        display: block;
        margin: 0 auto;
        vertical-align: middle;

    }
    
    .movie-content {
        float: none;
        margin: 5vh auto 6vh auto;
        width: 85%;
    }
}

@media (max-width:0px) {
	
/*
	.color-overlay {
		background: linear-gradient(to bottom, rgba(42,159,255,.2) 0%,rgba(33,33,32,1) 60%,rgba(33,33,32,1) 100%);
	}
*/
	
    .moviePicture {
/*        display: block;*/
    }
    
    
	.movie-content {
/*		margin-top: 4.2em;*/
/*        display: block;*/
		width: 90%;
        text-align: left;
        vertical-align: middle;
/*        background-color: aqua;*/
	}
    
/*
    .movie-content::before {
      content: "\A";
      white-space: pre;
    }
*/
	
}



.bounceAppearX {
		animation: scaleXIn 1000ms ease-out forwards;
}

.bounceAppearY {
		animation: scaleYIn 1000ms ease-out forwards;
}

.slideInLeft {
    animation: slideInLeft 1000ms;
}

@keyframes scaleYIn { 
	0% { transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { transform: matrix3d(1, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(1, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(1, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(1, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { transform: matrix3d(1, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(1, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(1, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(1, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(1, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes scaleXIn { 
	0% { transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes slideInUp { 
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 184.858, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 113.68, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 68.663, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 41.37, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 14.382, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.724, 0, 1); }
	75.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.381, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes slideInLeft {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 300, 0, 0, 1); }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 184.858, 0, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 113.68, 0, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 68.663, 0, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.37, 0, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 14.382, 0, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.724, 0, 0, 1); }
	75.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.381, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes slideInRight {
	0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
	6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -184.858, 0, 0, 1); }
	12.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -113.68, 0, 0, 1); }
	18.82% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.663, 0, 0, 1); }
	25.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -41.37, 0, 0, 1); }
	37.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.382, 0, 0, 1); }
	50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.724, 0, 0, 1); }
	75.08% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.381, 0, 0, 1); }
	100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}







/* Generated with Bounce.js. Edit at https://goo.gl/752Fuk */

@-webkit-keyframes scaleXIn2 { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.5% { -webkit-transform: matrix3d(0.348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.9% { -webkit-transform: matrix3d(0.573, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.573, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.81% { -webkit-transform: matrix3d(0.828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.71% { -webkit-transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.43% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes scaleXIn2 { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.5% { -webkit-transform: matrix3d(0.348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.9% { -webkit-transform: matrix3d(0.573, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.573, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.81% { -webkit-transform: matrix3d(0.828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.71% { -webkit-transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.43% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}






/*
.testAnim {
    animation: slideInRight 1000ms;
}

.testAnim:nth-child(odd) {
    animation: slideInLeft 1000ms;
}*/

.testAnim {
    -webkit-animation: scaleXIn2 1500ms linear;
  animation: scaleXIn2 1500ms linear;
    
    
    
}
